<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Amazon_Assignment" parallel="tests">



	<listeners>
		<listener class-name="base.TestListener" />
		<listener class-name="reRunFailedTest.RetryListenerClass" />
	</listeners>

	<parameter name="browserName" value="Chrome" />
	<test name="Home">
		<classes>
			<class name="testCases.Searches" />
		</classes>
	</test>

	<test name="negativeLogin">
		<classes>
			<class name="testCases.NegativeLogin" />
		</classes>
	</test>

	<test name="CategorySelection">
		<classes>
			<class name="testCases.LogoCheck" />
		</classes>
	</test>


</suite>